.wrapper {
  height: 100%;
  background: pink;
  padding: 2rem;
}
.animationLine {
  width: 100%;
  height: 200px;
  border: 1px solid rgba(0, 0, 0,0.4);
  display: flex;
  justify-content: start;
  align-items: center;
}
.animationObject {
  height: 100px;
  width: 100px;
  background-color: blanchedalmond;
}

.animationTimeLine {
  position: relative;
}

.ball {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgba(18, 44, 124, 0.9);
  position: fixed;
  left: 20%;
  top: 20%;
  animation-name: animated-ball;
animation-duration: 5s;
animation-iteration-count: infinite;
animation-delay: 1s;
animation-fill-mode: forwards;
/*animation-timing-function
//animation-delay
//animation-iteration-count
//animation-direction
//animation-fill-mode
//animation-play-state*/
}
@keyframes animated-ball {
  0% {
    filter: drop-shadow(1rem 1.2rem 1.25rem rgba(0, 0, 0, 0.2));
    top: 0%;
  }
  25% {
    top: 5%;
  }
  100% {
    filter: drop-shadow(1rem 0.2rem 0.25rem rgba(0, 0, 0, 0.8));
    top: calc(100% - 50px);
  }
}