.marker {
    width: 2em;
    height: 2em;
    margin-left: -1em;
    margin-top: -2em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    border-radius: 20% 20% 45% 45%;
    border: 2px solid rgb(88, 88, 88);
    background: rgb(0, 0, 0);
    filter: drop-shadow(2px 2px 2px #333);
    background: linear-gradient(90deg, rgba(150,33,62,1) 35%, rgba(255,0,175,1) 100%);
}