.wrapper {
  height: 100%;
  background: #222222;
  padding: 2rem;
}
.keysContainer {
  display: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.keyboardButton {
  font-size: 24px;
  background-color: #FAE794;
  color: #333;
  padding: 1.2em 2em;
}